.register {
    text-align: center;
    padding-right: 0em;
    box-sizing: border-box;
    display: inline-block;

  }
  .r1{
    border-style: solid;
    border-color: #1e1e1d6f;
    opacity: 20px;
    border-radius: 15px;
    background-color:rgba(203, 235, 240, 0.217);
    border-width: 5px;
    width:500px;
  }
body{
  background: linear-gradient(#3d0cf0, #03f78d);
  margin-bottom: 10rem;
  background-color: #7d7b78;
}
.welcome h1 {
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    margin: 0% 0%;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgb(242, 245, 242);
  }
  .inputbox {
    width: 300px;
    margin: 0.8em 0em;
    padding: 8px 20px;
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    color: #000000;
    text-overflow: ellipsis;
  }
  .back-1{
    padding-right: 18em;
    font-weight: 650;
    font-size: small;
    font-family:inherit;
  }
  .inputs span{
    font-size: large;
    text-shadow: 2px 2px 5px white;
  }
  .signup:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
      -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
      inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
      transform: scale(1.1);
  }
.signup{
    font-family: "Poppins";
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
    width: 120px;
    border-radius: 5px;
  background-color:rgba(32, 29, 101, 0.326);
}
  @media screen and (max-width: 900px){
    body{
      background-size: 140PX;
    }
    .register{
        margin-top: 1%;
        margin: down 1px;
        padding: 2em 16em;
      }
      .welcome h1{
        font-weight: 400;
        margin: 0% 0%;
        font-size: 2em;
      }
    }
  @media screen and (max-width: 600px) {
    body{
    background-size: 110PX;
  }
    .register {
      margin-top: 1%;
      padding: 3em 9em;
    }
    .welcome h1{
      font-weight: 300;
      margin: 0% 0%;
      font-size: 2em;
    }
  }